PORT=5000
MONGO_URI=mongodb+srv://traffic_admin:YOUR_PASSWORD@traffic-analyser.muyqjew.mongodb.net/traffic_analysis?appName=Traffic-Analyser
CLIENT_URL=http://localhost:5174
SIMULATOR_ENABLED=true
CPP_ENGINE_PATH=
NOMINATIM_URL=https://nominatim.openstreetmap.org/search
OSRM_URL=https://router.project-osrm.org
